html *
{
   font-family: Arial !important;
   font-size: 15px;
}

h1{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

header{
    width: 800px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}

#principal{
    width: 800px;
    min-height: 300px; 
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}

#navigation{
    width: 800px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background-color: #B3B7B7;
    overflow: hidden
}

footer{
    width: 800px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden
}

#buttons{
    float: left;
    width: auto;
}

#target_general{
    float: right;
    width: auto;
}

#author{
    float: left;
    width: auto;
}

#exam{
    float: right;
    width: auto;
}

#log{
    float: left;
}

#reg {
    float: left;
    margin-left: 10px;
}

#rules{
    float: right;
}

#info_game{
    float: left;
}

#new_game{
    float: left;
}

#button_info{
    float: right;
    margin-left: 10px;
}

#button_space{
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 5px;
}

#general{
    margin-top: 30px;
}


table {
    border-collapse: collapse;
}

table, tr, th, td{
   border: 1px solid black;

}

tr,th,td{
    padding: 5px;
}


